.ant-calendar-picker-input.ant-input {
  line-height: 1.3 !important;
}
.in-icon-arrow {
  width: 100%;
}
.ant-row,
.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-form-item-label {
  line-height: 17.9999px !important;
}

.income-table-td-height {
  .table td {
    height: inherit !important;
  }
}

.ant-layout-content {
  min-height: unset !important;
}

.ant-table-row-cell-break-word {
  text-align: center;
}
#Income_daterange {
  width: 100%;
}
