@import "~antd/dist/antd.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'gujrati_saral-1normal';
  src: url('./Static/Fonts/gujrati-saral-1-webfont.woff') format('woff'),
       url('./Static/Fonts/gujrati-saral-1-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


#root,
.App {
  height: inherit;
}
